*{
    box-sizing: border-box;
}

body {
    margin:0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:5px;
    font-family: Helvetica, sans-serif;
}

.header-row {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 7px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 5px;
}

.js-results {
    width: 60%;
    margin: 25px 0px 0px 30px;
    display: inline-block;
}
.direction{
    color: grey;
    font-size: 20px;
}
.result-row, .direction {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 7px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 5px;
}
.result-row{
    background-color: lightgoldenrodyellow;
    color: grey;
}

p > b {
    color: #FF6D19;
    margin-right: 5px;
}

a{
    text-decoration: none;
    cursor: pointer;
}